body {
    background-color: rgb(175, 120, 18);
    min-height: 100vh;
}

.button-style {
    text-align: center;
}

.letters-container {
    text-align: center;
}

.answer-field {
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

.btn {
    margin: 10px 10px;
}

