body{
    background-image: url("https://orig00.deviantart.net/9f3f/f/2007/012/8/1/wrinkled_notebook_paper___3_by_djsoundwav.jpg");
    background-size: cover;
    font-family: 'Special Elite', cursive;
    min-height: 100vh;
}

.button-style {
    text-align: center;
    opacity: .8;
}

.btn {
    margin: 10px 10px;
}

.reset-btn {
    margin: 30px 0 0 50px;
}

.row {
    margin-top: 40px;
}

nav {
    opacity: .8;
}

.letters {
    margin-top: 20px;
}

.game-board {
    min-height: 100vh;
    width: 100%;
}

.life-total {
    margin: 30px auto;
    font-size: 20px;
}

.letters-container {
    text-align: center;
    margin: 0;
    color: black;
    opacity: 8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.answer-field {
    text-align: center;
    margin: 20px;
    font-size: 50px;
}

.lives {
    color: black;
    opacity: 8;
}

footer {
    opacity: .8;
}

/*STICKFIGURE GUY*/

.hangman-box {
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.fail {
    font-size: 40px;
    margin: auto;
    text-align: center;
    transform: rotate(-20deg)
}

.win {
    font-size: 40px;
    margin: auto;
    text-align: center;
    transform: rotate(-20deg)
}

.head {
    height: 50px;
    width: 50px;
    font-size: 80px;
    font-weight: 100;
    margin: 0 auto;
}

.torso {
    height: 100px;
    width: 25px;
    font-weight: 300;
    font-size: 90px;
    margin: 5px auto;

}

.left-arm {
    height: 50px;
    width: 50px;
    font-size: 50px;
    font-weight: 700;
    margin-top: -100px;
    margin-left: 115px;
    transform: rotate(-15deg);
}

.right-arm {
    height: 50px;
    width: 50px;
    font-size: 50px;
    font-weight: 800;
    margin-top: -43px;
    margin-left: 150px;
    transform: rotate(15deg);
}

.left-leg {
    color: black;
    font-weight: 500;
    font-size: 70px;
    margin-top: 8px;
    margin-left: 114px;
}

.right-leg {
    color: black;
    font-weight: 500;
    font-size: 70px;
    margin-left: 143px;
    margin-top: -105px;
}



